    <footer class="container">
        <div class="row">
            <div class="col s6 offset-s3 center">
                <small>Ntalk - Agenda de Contatos</small>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>