<% include ../_header.ejs %>
<header class="container">
    <div class="row">
        <div class="col s9 offset-s1 center">
            <h1>NTalk</h1>
            <h4>Erro 404: Infelizmente essa página não existe...</h4>
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col s9 offset-s1 center">
            <p><a href="/" class="waves-effect waves-light btn">Voltar Página Inicial</a></p>
        </div>
    </div>
</section><br>
<% include ../_footer.ejs %>