<% include ../_header.ejs %>
    <header class="container">
        <div class="row">
            <div class="col s6 offset-s3 center">
                <h1>NTalk</h1>
                <h4>Bem Vindo!</h4>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <form class="col s12" action="/entrar" method="post">
                    <div class="input-field col s12">
                        <input placeholder="Nome" id="nome" type="text" class="validate" name="usuario[nome]">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="E-mail" id="email" type="email" class="validate" name="usuario[email]">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="input-field col s12">
                        <button class="waves-effect waves-light btn" type="submit">Logar</button>
                    </div>
                </form>
            </div>
        </div>
    </section><br>
<% include ../_footer.ejs %>